<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div id="name">{{monster.name}}</div>
            </div>
            <div class="right">
                <div id="hp">{{monster.hp}}</div>
                <img class="energy icon" src="assets/img/eclair.png" alt="Energy Icon">
            </div>
        </header>
        <figure id="art">
            <img [src]="monster.imageUrl" alt="Monster Image" class="art">
            <figcaption id="description">{{monster.figureCaption}}</figcaption>
        </figure>  
        <div id="capacities">
            <div class="main">
                <div class="cost">
                    <img class="icon energy" src="assets/img/eclair.png" alt="Energy Icon">
                    <img class="icon energy" src="assets/img/eclair.png" alt="Energy Icon">
                </div>
                <div class="name">{{monster.attackName}}</div>
                <div class="damage">{{monster.attackStrength}}</div>
            </div>
        </div>
        <div class="description">
            {{monster.attackDescription}}
        </div>
    </div>
</div>

